@use "~shared/styles/colors" as colors;

.appSidebar {
  width: 250px;
  background: colors.$black-01;
  color: colors.$white-01;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__navLink {
    display: block;
    background: transparent;
    color: colors.$white-01;
    border: 1px solid colors.$black-01;
    padding: 8px 10px;
    text-decoration: none;
  }

  &__logoutBtn {
    background: transparent;
    color: colors.$white-01;
  }
}