@use "~shared/styles/colors" as colors;

.appointmentItem {
  a {
    color: colors.$black-01;
    text-decoration: none;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
  }

  &__date {
    margin-left: 8px;
    font-size: 14px;
    color: colors.$grey-01;
  }

  &:hover {
    a {
      text-decoration: underline;
    }
  }
}